<%= link_to "Car Index", '/cars' %>
<%= link_to "Hobbyist Index", '/hobbyists' %>
<h3><%= link_to "Update Hobbyist", "/hobbyists/#{@hobbyist.id}/edit" %></h3>
<h2><%= link_to "#{@hobbyist.name}'s Cars", "/hobbyists/#{@hobbyist.id}/cars" %></h2>
<h2>Name:</h2><%= @hobbyist.name %>
<h2>Has Insurance?:</h2><%= @hobbyist.insurance %>
<h2>Garage Capacity:</h2><%= @hobbyist.garage_capacity %>
<h2>Current Number of Cars in Collection:</h2><%=@hobbyist.car_count %>
