<%= link_to "Car Index", '/cars' %>
<%= link_to "Hobbyist Index", '/hobbyists' %>
<h1><%=@car.year%> <%=@car.make%> <%=@car.model%></h1>
<h2>Make:</h2><%= @car.make %>
<h2>Model:</h2><%= @car.model %>
<h2>Year:</h2><%= @car.year %>
<h2>Mileage:</h2><%= @car.mileage %>
<h2>Drivable?:</h2><%= @car.drivable%>